<div id="welcome" class="hidden" title="Welcome">
	<h2>Welcome to Bento Budget!</h2>
	<p>We are thrilled you decided to give Bento Budget a try and we are sure you will love it.  You are on your way to having complete control your budget!</p>
	<p>There are 4 easy steps to get up and running and the <a target="_blank" href="http://www.bentobudget.com/help/#quick-start-video">Quick Start Video</a> is the best way to walk through the process.  Also, a more in depth guide can be found in the <a target="_blank" href="http://www.bentobudget.com/help/#getting-started">Getting Started Guide</a> which is a quick walk through of getting setup, complete with screeshots.</p>
	<p>We hope you enjoy Bento Budget and find it to be an invaluable tool in taking control of your money.</p>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(window.location.hash).dialog({
			  modal: true,
			  width: 500,
		      buttons: {
		        'Close': function() {
		          $(this).dialog( "close" );
		        }
		      }
		});
	});
</script>