<p>Your account has been upgraded to <strong>Bento Budget Pro</strong>.  Thank you for upgrading!</p>
<% if @is_trial_period == true %>
<p style="color:#00c105;">You qualify for a <strong>1 month trial period free of charge!</strong>  You will begin to be billed after this trial period is over.</p>
<% end %>
<p>You can cancel your Bento Budget Pro subscription at anytime by signing in and going to the Settings screen or by logging in to your PayPal account directly.</p>