<p>You subscription to Bento Budget Pro has been cancelled and your account downgraded.</p>
<p>The reason for this change is: <strong><%=@reason%></strong></p>
<p>Please contact us by replying to this email if you have any questions or concerns about your account.</p>