<% if @plan.errors.any? %>
<div class="alert alert-error">
	<ul>
		<% @plan.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for(@plan) do |p| %>
	<%= p.label(:name) %>
	<%= p.text_field(:name) %>
<% end %>