<div class="hidden" id="new_envelope_type_modal">
	<p>Please specify whether you want to create an envelope or group.</p>
	<div class="row-fluid">
		<div class="span6 text-right">
			<a id="btn-new-envelope" href="<%= new_envelope_path %>" data-title="New Envelope" class="open-modal btn btn-success btn-large">Envelope</a>
		</div>
		<div class="span6 text-left">
			<a href="<%= new_envelope_group_path %>" data-title="New Group" class="open-modal btn btn-success btn-large">Group</a>
		</div>
	</div>
</div>