<p>Please specify the account update type.</p>
<div class="row-fluid">
	<div class="span6 text-right">
		<a id="btn-new-envelope" href="<%= new_import_path %>" data-title="Import Transactions" class="open-modal btn btn-success btn-large"><i class="icon-download icon-white"></i>&nbsp;Import Account</a>
	</div>
	<div class="span6 text-left">
		<a href="<%= linked_import_imports_path %>" data-title="Update Linked Accounts" class="open-modal btn btn-success btn-large"><i class="icon-random icon-white"></i>&nbsp;Linked Accounts</a>
	</div>
</div>
