/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

li span.amount { display:block; width: auto; }
li span.date { padding-right:15px; width:30px; display:block;}

.negative { color:red;}
.positive { color:green;}

/* errors */
.alert-error { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; padding: 5px;}
.field_with_errors {display: inline;}

/* jQuery mobile overrides */
.ui-li-aside { margin:0px;}